@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "./utilities/widths";
@import "./utilities/heights";
@import "./utilities/marginPadding";
@import "./utilities/colors";
@import "./utilities/fontSize";

$enable-shadows: true;

$customShadow: (
    shadowYellow1: 0em 0em 0.4em 0.44em rgba(255, 255, 0, 1),
    shadowYellow2: 0em 0em 0.625rem 0.6875rem rgba(255,255,0, 1)
);

@mixin applyShadow($shadow) {
    box-shadow: map-get($customShadow, $shadow);
  }
  
  @each $size, $value in $customShadow {
    .shadow-#{$size} {
      @include applyShadow($size);
    } 
}